/* Tailwind CSS Input Styles
DO NOT USE THIS FILE DIRECTLY
instead, use ./public/css/base.css
*/
@import "tailwindcss" source("../../internal/web/views");
@plugin "daisyui" {
  themes: emerald --default, dracula --prefersdark;
}
