package components

import "github.com/abdelrahman146/kyora/internal/web/webcontext"

templ Breadcrumbs() {
	<div class="text-sm breadcrumbs">
		<ul>
			for _, c := range webcontext.GetPageBreadcrumbs(ctx) {
				if c.Href != "" {
					<li><a href={ c.Href }>{ c.Label }</a></li>
				} else {
					<li>{ c.Label }</li>
				}
			}
		</ul>
	</div>
}
