package components

import "github.com/abdelrahman146/kyora/internal/web/webcontext"

templ PageHeader(rightContent templ.Component) {
	<div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">
		<div>
			<h1 class="text-2xl font-bold">{ webcontext.GetPageTitle(ctx) }</h1>
			@Breadcrumbs()
		</div>
		<div class="flex gap-2">
			@rightContent
		</div>
	</div>
}
