package components

templ Pagination() {
	<div class="flex items-center justify-between">
		<p class="text-sm text-base-content/60">Showing 1 to 7 of 457 items</p>
		<div class="join">
			<button class="join-item btn btn-sm">«</button>
			<button class="join-item btn btn-sm btn-active">1</button>
			<button class="join-item btn btn-sm">2</button>
			<button class="join-item btn btn-sm">3</button>
			<button class="join-item btn btn-sm">»</button>
		</div>
	</div>
}
