package loginPage

import "github.com/abdelrahman146/kyora/internal/web/layout"

templ Login() {
	@layout.Root() {
		<div>
			login page
		</div>
	}
}

templ LoginFailed(message string) {
	<div class="alert alert-danger" role="alert">
		{ message }
	</div>
}
